{% extends "base.html" %}

{% block title %}
LISTA DE CONTATOS RECEBIDOS
{% endblock title %}

{% block content %}
<div class="box box-primary" style="border-radius: 15px; margin-left: 20px;">
    <div class="box-header with-border" style="text-align: center;"><br>
        <p class="box-title" style="font-size: 25px"><b>LISTA DE CONTATOS RECEBIDOS</b></p><br><br>
    </div>
    <div class="box-body">
        <table class="table">
            <thead>
                <tr style="font-size: 15px;">
                    <th style="text-align: center">NOME COMPLETO</th>
                    <th style="text-align: center">E-MAIL</th>
                    <th style="text-align: center">TELEFONE</th>
                                         
                </tr>
            </thead>
            <tbody>
            {% for i in contatos %}
                <tr style="text-align: center">
                    <td><a href="{% url 'lista_contato_id' i.id %}">{{i.nome_completo|title}}</a></td>
                    <td>{{i.email}}</td>
                    <td>{{i.telefone}}</td>                                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>        
    </div>
</div>
{% endblock content %}