{% extends 'base.html' %}

{% block title %}
Pets Cadastrados
{% endblock title %}

{% block content %}

<div class="box box-solid box-primary" style="text-align: center; align-items: center; align-content: center">
    <div class="box-header with-border">
        <br>
        <p class="box-title" style="font-size: 22px;"><b>LISTA DE PETS CADASTRADOS NA CLÍNICA</b></p><br><br>
    </div>
    <div class="box-body" style="align-items: center; text-align: center;align-content: center;">        
            <table class="table">
                <thead class="table">
                    <tr class="table">                        
                        <th style="text-align: center"><b>NOME </b></th>
                        <th style="text-align: center"><b>IDADE </b></th>
                        <th style="text-align: center"><b>GÊNERO</b></th>
                        <th style="text-align: center"><b>RAÇA</b></th>
                        <th style="text-align: center"><b>PROPRIETÁRIO</b></th>
                        <th style="text-align: center"><b>C.P.F PROPRIETÁRIO</b></th>                        
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                        <tr>                            
                            <td>{{ pet.nome|title }}</td>
                            <td>{{ pet.idade}} ano(s)</td>
                            <td>{{ pet.get_genero_display}}</td>
                            <td>{{ pet.raca|upper}}</td>
                            <td><a href="{% url 'listar_cliente' pet.proprietario.id %}">{{ pet.proprietario.nome}}</a></td>
                            <td>{{ pet.proprietario.cpf}}</td>                                  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>                             
    </div>
</div>
{% endblock content %}
