{% load static %}
<title>Sobre</title>
{% block navbar %}
{% include 'empresa/includes/navbar.html' %}
{% endblock navbar %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--bootstrap and css links and routs-->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--end bootstrap and css links and routs-->

<!--starting row div-->
    <div class="row" style="margin-bottom: 200px; margin-top: 40px;">
        <div class="col s6">
            <div class="hide-on-med-and-down about-section">
                <td id="id-of-td">
                    <img id="id-of-image" style="width: 100%; position: absolute;" src="{% static '/img/dogs.png' %}"/>
                </td>                   
            </div>
        </div>

        <div class="col s6" style="padding-right: 20px;">
            <h1 style="font-weight: bold;">Sobre Nós</h1>
            <p class="text" style="font-size: large; color: rgb(65, 64, 64);">
                <b>Max Clínica Pet </b> conta com Pronto Socorro Veterinário 24h todos os dias, 
                inclusive aos Domingos e Feriados. Nossa equipe de Médicos Veterinários e nossa completa infraestrutura
                permitem o atendimento rápido em casos de urgência e emergência, com profissionais amplamente treinados
                para este tipo de situação, formados nas melhores Universidades do país. <br><br>
                
                Exames de imagem e laboratoriais são realizados no próprio laboratório clínico do hospital para confirmação dos diagnósticos. <br><br>
                Nossa clínica conta com uma infraestrutura completa de atendimento para urgências, com UTI e centro cirúrgico.<br><br> 
                Nosso hospital veterinário 24 horas dispõe de equipamentos modernos e infraestrutura para atender até 4 gatos
                simultaneamente em nosso gatil, 4 pacientes na UTI, 9 internações e 6 hóspedes em nosso hotel para cachorro. 
                Possuímos estrutura para realizar consultas veterinárias, um centro cirúrgico, e como mencionado anteriormente, 
                até UTI animal.
            </p>            
        </div>        
    </div>
<!--end div about section-->
{% block footer %}
{% include 'empresa/includes/footer.html' %}
{% endblock footer %}