{% extends 'empresa/master.html' %}
{% load static %}
{% static 'static/css/jquery.min.js' %}

{% block header %}
{% include 'empresa/includes/header.html' %}
{% endblock header %}

{% block content %}           

<!-- Card information about services, the pet space and vaccination of pets-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-6">

            <!-- start the Causa Animal box with info--> 
            <div class="col-lg-4 mb-5 mb-lg-0"> 
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="border-radius: 10px; max-height: 70px;">
                    <i class="bi bi-app-indicator" id="headingOne"></i>                    
                </div>
                    <h2 class="h4 fw-bolder"><b>Nossos Serviços</b></h2>
                    <p>
                        Nossos serviços de clínica vão desde de hemogramas, atendimento especializado com nosso melhores médicos veterinários,
                        atendimento psicológico, fisioterapia integrada, espaço pet para o seu bichinho quando estiver nas nossas dependências.
                    </p>                   
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" 
                        aria-expanded="false" aria-controls="collapseExample">
                            Saiba mais
                            <i class="bi bi-arrow-right"></i>
                        </button>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            Além dos nossos Planos de Saúde para o seu pet, temos também nossa rede conveniada para atendimento na sua região.
                            Caso seja necessário envio de ambulância ao local, temos nossos equipamentos a postos nas nossas unidades em Sâo Paulo. 
                            Também temos serviços de Atestado para Viagens, Microchipagem, Castração, Medicina Preventiva, Saúde Bucal, Vacinação, 
                            Farmácia Veterinária, Cirurgia Geral e mais. Confira nossos planos: <br><br> 
                            <a href="#planos_saude">
                                <b>
                                    Acessar planos de saúde
                                </b>
                            </a>
                        </div>
                    </div>
                </div> 

                <!-- end the first box with Nossos Serviços--> 

                <!-- start the Causa Animal box with info-->

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="border-radius: 10px; max-height: 70px;">
                        <i class="bi bi-app-indicator" id="headingOne"></i> 
                    </div>
                        <h2 class="h4 fw-bolder">
                            <b>
                                Causa Animal
                            </b>
                        </h2>
                        <p>
                            Somos totalmente engajados na causa animal, e apoiamos todos os movimentos relacionados à proteção de animais e também
                            para adoção e etc. A adoção é um dos pilares de atuação da nossa visão, missão e valores e, sem dúvida, uma atividade que 
                            requer esforço e amplo envolvimento do poder público com a sociedade civil. Isso porque o alojamento municipal não é um 
                            lar definitivo, ao contrário, a estadia deve ser de curta permanência. Esses animais precisam de amor, de companhia, de famílias 
                            amorosas e responsáveis.
                        </p>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" 
                        aria-expanded="false" aria-controls="collapseExample">
                            Saiba mais  
                            <i class="bi bi-arrow-right"></i>
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Somos totalmente engajados na causa animal, e apoiamos todos os movimentos relacionados à proteção de animais e também
                                para adoção e etc. A adoção é um dos pilares de atuação da nossa visão, missão e valores e, sem dúvida, uma atividade que requer esforço e amplo 
                                envolvimento do poder público com a sociedade civil. Isso porque o alojamento municipal não é um lar definitivo, ao contrário, a estadia deve ser 
                                de curta permanência. Esses animais precisam de amor, de companhia, de famílias amorosas e responsáveis.<br><br>
                                
                                <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/saude/saude_e_protecao_ao_animal_domestico/index.php?p=272491"> 
                                    <b>Acessar portal de adoção da Prefeitura da Cidade de São Paulo</b>
                                </a>
                            </div>
                        </div>
                    </div>
                
                <!-- end the Causa Animal box with info-->

                <!-- start the Vacinação box with info-->

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="border-radius: 10px; max-height: 70px;">
                        <i class="bi bi-app-indicator" id="headingOne"></i> 
                    </div>
                        <h2 class="h4 fw-bolder">
                            <b>Vacinação</b>
                        </h2>
                        <p> 
                            Proteger o seu pet contra doenças infecciosas e principalmente a raiva que está dentre as que mais matam. 
                            Vaciná-lo irá permitir que ele permaneça saudável! Proteger as pessoas contra os agentes circulantes dessas 
                            doenças. A vacinação previne o contágio de um animal para o outro, ou mesmo para as pessoas. Saiba mais 
                            sobre a campanha de vacinação da Prefeitura de São Paulo.
                        </p>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" 
                        aria-controls="collapseExample">
                            Saiba mais  <i class="bi bi-arrow-right"></i>
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Embora a raiva esteja controlada nessas espécies, isso não isenta a vacinação anual que, além de obrigatória 
                                por lei, é o fator de maior relevância para garantir a manutenção de controle da raiva nas populações de cães 
                                e gatos e por consequência para a população humana.<br><br>
                                <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/saude/vigilancia_em_saude/controle_de_zoonoses/raiva_animal/index.php?p=5435"> 
                                    <b>
                                        Prefeitura da Cidade de São Paulo
                                    </b>
                                </a>
                            </div>
                        </div>
                </div>
                <!-- end the Vacinação box with info-->
        </div>
    </div>   
</section>


<!-- healthy insurance information-->

<section class="bg-light py-5 border-bottom" id="planos_saude">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder"><b>Nossos planos para seu Pet</b></h2>            
            <p class="lead mb-0" style="font-size: 16px;">Cobertura apenas na região da Grande São Paulo</p>
            <p class="lead mb-0" style="font-size: 14px;">Veja abaixo os planos especializados para seu animal</p>
        </div>
        <div class="row gx-5 justify-content-center">
        <!-- Pricing card free-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Plano Bronze</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">R$ 89,99</span>
                                <span class="text-muted">/ mês</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>Diagnósticos</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Acompanhamento veterinário
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Consultas 24h com USO ILIMITADO
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Exames Simples com USO ILIMITADO
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Exames Bioquímicos com USO ILIMITADO
                                </li>
                                <li class="text-muted">
                                    <i class="bi bi-x"></i>
                                    Castração (macho e fêmea)
                                </li>
                                <li class="text-muted">
                                    <i class="bi bi-x"></i>
                                    Exames Hormonais com USO ILIMITADO)
                                </li>
                                <li class="text-muted">
                                    <i class="bi bi-x"></i>
                                    Limpeza de Tártaro
                                </li>
                                <li class="text-muted">
                                    <i class="bi bi-x"></i>
                                    Cirurgias de Pequeno, Médio e Grande Porte com USO ILIMITADO
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    Consultas Especializadas com USO ILIMITADO
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    Vacinas Importadas
                                </li>
                                <li class="text-muted">
                                    <i class="bi bi-x"></i>
                                    Check-up preventivo anual
                                </li>
                                <li class="text-muted">
                                    <i class="bi bi-x"></i>
                                    E muito mais ...
                                </li>
                            </ul>
                                <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Nos Contate</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card pro-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <b>Plano Ouro</b>
                                </div>
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">R$ 149,99</span>
                                    <span class="text-muted">/ mês</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>O plano perfeito para uma proteção completa.
                                        Sem surpresas, sem dores de cabeça!</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Internação
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Consultas 24h com USO ILIMITADO
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Medicamentos Utilizados em 
                                        Consulta, Cirurgia e Internação
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Exames Simples, Bioquímicos, Exames de Imagem, 
                                        Exames Dermatológicos, Exames Hormonais e com USO ILIMITADO
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Castração (macho e fêmea)
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Limpeza de Tártaro
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Cirurgias de Pequeno, Médio e Grande Porte com USO ILIMITADO
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Consultas Especializadas com USO ILIMITADO
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Vacinas Importadas
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Check-up preventivo anual
                                    </li>    
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" href="#!">Nos Contate</a></div>                                
                            </div>
                        </div>
                    </div>

    <!-- Pricing card enterprise-->
    <div class="col-lg-6 col-xl-4">
        <div class="card">
            <div class="card-body p-5">
                <div class="small text-uppercase fw-bold text-muted">Plano Prata</div>
                    <div class="mb-3">
                        <span class="display-4 fw-bold">R$ 119,99</span>
                        <span class="text-muted">/ mês</span>
                    </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Plano ideal para todas as raças e para a 
                                maioria das necessidades, incluindo
                                check-up preventivo anual</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Internação 24h
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Consultas 24h com USO ILIMITADO
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Medicamentos Utilizados em Consulta e Internação
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Exames Simples com USO ILIMITADO
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Exames Bioquímicos com USO ILIMITADO
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>                            
                                Exames de Imagem com USO ILIMITADO
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Vacinas Importadas
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Check-up preventivo anual
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                Castração (macho e fêmea)
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                            Exames Hormonais com USO ILIMITADO)
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                Limpeza de Tártaro
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                Cirurgias de Pequeno, Médio e Grande Porte com USO ILIMITADO
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Consultas Especializadas com USO ILIMITADO
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Vacinas Importadas
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                Check-up preventivo anual
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                E muito mais ...
                            </li>                        
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Nos Contate</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<!-- Testimonials section-->
<section class="py-5 border-bottom">    
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder"><b>Veja as avaliações dos nossos clientes</b></h2>
            <p class="lead mb-0 text-muted">Nossos clientes fiéis confirmam:</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
            <!-- Testimonial 1-->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1" style="margin-right: 8px">  </i></div>
                                <div class="ms-4">
                                <p class="mb-1">"Clínica muito boa. Atendimento excelente. Todos são muito gentis
                                    e competentes. Os banhos são muito bem dados. O Doutor é excelente profissional e 
                                    competente que nos deixa muito tranquilos no tratamento dos nossos pets..
                                    Tenho confiança total neles. Parabéns."</p>
                                    <div class="small text-muted">- Maria Helena de Souza, São Paulo, SP</div>
                                </div>
                        </div>
                    </div>
                </div>

<!-- Testimonial 2-->
        <div class="card">
            <div class="card-body p-4">
                <div class="d-flex">
                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1" 
                            style="margin-right: 8px"></i></div>
                        <div class="ms-4">                            
                        <p class="mb-1">"Excelente! Clínica com profissionais super sérios. Desde o pessoal da
                             recepção (Deborah e Luiz), até os melhores médicos: Dra. Stephanie 
                             Frey, Dra. Victoria, Dra. Maria e Dra. Fernanda, sempre tivemos um atendimento 
                             maravilhoso. Realmente, está sempre "cheio" pela manhã, sinal de que as 
                             pessoas confiam e levam os bichinhos lá. Mas eles foram sempre muito seguros 
                             no atendimento do meu cachorro, fazendo todos os exames, me dando telefones 
                             particulares e estando à disposição 24 horas."</p>
                            <div class="small text-muted">- Alice Carla Votorantin, São Paulo, SP</div>
                        </div>
                </div>
            </div>
        </div>        
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{% static '/img/dog_index.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><b>Atendimento 5 estrelas</b></h5>
            <p class="card-text">Temos um dos melhores atendimentos de São Paulo, assim como os nosso preços.
                Entre em contato com a nossa central e veja nossos serviços, planos de saúde para seus pets e muito mais.
            </p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'cadastrar_contatos' %}" 
            role="button" aria-expanded="false" aria-controls="collapseExample">
                Entrar em contato
            </a>            
        </div>
    </div>

</section>        

{% endblock %}

