<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Max Clinica Pet</title>    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />           
</head>
    <body>

    {% block navbar %}
    {% include 'empresa/includes/navbar.html' %}
    {% endblock navbar %}


    {% block header %}
    {% endblock header %}


    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% include 'empresa/includes/footer.html' %}
    {% endblock footer %}

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    
    <script src="{% static 'js/jquery.min.js' %}"></script>    
    <!-- ---------- End block material core JS-->
    </body>
</html>