{% extends 'base.html' %}

{% block title %}
EXCLUSÃO DE CLIENTES
{% endblock title %}

{% block content %}
<div class="card card-primary"> 
    <div class="card-header">
        <div class="card-title"><b>TEM CERTEZA QUE DESEJA REMOVER O CLIENTE A SEGUIR?</b></div>        
    </div>    
    <br>
    <form method="POST">
        <br>
        {% csrf_token %}
        
        <td>
        <button class="btn btn-danger" type="submit"> EXCLUIR</button>  </td>        
        <td>
        <a href="{% url 'listar_cliente' %}" class="btn btn-info">VOLTAR</a></td>             
    </form>     
</div>
{% endblock content %}