
{% extends 'base.html' %}
{% load meus_filtros %}
{% block title %}
Cadastro de clientes
{% endblock title %}


{% block content %}
<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <div class="card-title"><h3>
            {% if request.resolver_match.url_name == 'cadastrar_cliente' %} 
                <b>CADASTRO DE CLIENTES</b>
            {% else %}
                <b>EDIÇÃO DE CADASTRO DE CLIENTES</b>
            {% endif %}</b></h3>
        </div>
    </div>
    <div class="box-body">
    <form method="POST">
        {% csrf_token %}       
        <h3><b>DADOS GERAIS</b></h3>
        <br>
        <div class="form-group">
        {{ form_cliente.nome.errors }}
        <label>NOME:</label>
        {{form_cliente.nome|addclass:'form-control'}}
        </div>
        <div class="form-group">
        {{ form_cliente.data_nascimento.errors }}
        <label>DATA DE NASCIMENTO:</label>
        {{form_cliente.data_nascimento|addclass:'form-control'}}
        </div>
        <div class="form-group">
        {{ form_cliente.email.errors }}
        <label>E-MAIL:</label>
        {{form_cliente.email|addclass:'form-control'}}
        </div>
        <div class="form-group">
        {{ form_cliente.cpf.errors }}
        <label>CPF:</label>
        {{form_cliente.cpf|addclass:'form-control'}}
        </div>
        <div class="form-group">
        {{ form_cliente.profissao.errors }}
        <label>PROFISSÃO:</label>
        {{form_cliente.profissao|addclass:'form-control'}}
        </div>
        <hr>
        <h3><b>ENDEREÇO</b></h3>
        <br>
        <div class="form-group">
        {{ form_endereco.rua.errors }}
        <label>RUA:</label>
        {{form_endereco.rua|addclass:'form-control'}}
        </div>
        <div class="form-group">
        {{ form_cliente.nome.errors }}
        <label>CIDADE:</label>
        {{form_endereco.cidade|addclass:'form-control'}}
        </div>
        <div class="form-group">
        {{ form_cliente.estado.errors }}
        <label>ESTADO:</label>
        {{form_endereco.estado|addclass:'form-control'}}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="SALVAR CADASTRO">
        </div>
        <div class="form-group">
            <a href="{% url 'listar_clientes' %}" class="btn btn-warning">VOLTAR</a></td> 
        </div>
    </form>
    </div>
</div>
{% endblock content %}