{% extends 'base.html' %}

{% block title %}
LISTA DE CLIENTES
{% endblock title %}

{% block content %}

<div class="box box-primary" style="border-radius: 15px; margin-left: 20px;">
    <div class="box-header with-border" style="text-align: center;"><br>
        <p class="box-title" style="font-size: 25px;"><b>LISTA DE CLIENTES</b></p><br><br>
    </div>
    <div class="box-body">        
            <table class="table">
                <thead>
                    <tr style="font-size: 15px;">                        
                        <th style="text-align: center"><b>NOME </b></th>
                        <th style="text-align: center"><b>DATA DE NASCIMENTO </b></th>
                        <th style="text-align: center"><b>PROFISSÃO</b></th>
                        <th style="text-align: center"><b>CPF</b></th>
                        <th style="text-align: center"><b>AÇÕES</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                        <tr style="text-align: center">                            
                            <td><a href="{% url 'listar_cliente' cliente.id %}">{{ cliente.nome|title }}</a></td>
                            <td>{{ cliente.data_nascimento }}</td>
                            <td>{{ cliente.profissao|title }}</td>
                            <td>{{ cliente.cpf }}</td>

                            <td>
                                <a href="{% url 'editar_cliente' cliente.id %}">Editar</a>
                                <a href="#">|</a>
                                <a href="{% url 'remover_cliente' cliente.id %}" style="color: red;">Remover</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <a href="{%url 'cadastrar_cliente' %}" class="btn btn-primary">CADASTRAR</a><br>
        <br>        
    </div>
</div>
{% endblock content %}