{% extends "base.html" %}

{% block title %}
LISTA DE FUNCIONÁRIOS
{% endblock title %}

{% block content %}
<div class="box box-primary" style="border-radius: 15px; margin-left: 20px;">
    <div class="box-header with-border" style="text-align: center;"><br>
        <p class="box-title" style="font-size: 25px"><b>LISTA DE FUNCIONÁRIOS CADASTRADOS</b></p><br><br>
    </div>
    <div class="box-body">
        <table class="table">
            <thead>
                <tr style="font-size: 15px;">
                    <th style="text-align: center">NOME</th>
                    <th style="text-align: center">USERNAME</th>
                    <th style="text-align: center">DATA DE NASCIMENTO</th>
                    <th style="text-align: center">CARGO</th>
                </tr>
            </thead>
            <tbody>
            {% for i in funcionarios %}
            <tr style="text-align: center">
                <td>{{i.nome|title}}</td>
                <td>{{i.username}}</td>
                <td>{{i.nascimento}}</td>
                <td>{{i.get_cargo_display|title}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <a href="{% url 'cadastrar_funcionario' %}">
            <button class="btn btn-primary">CADASTRAR</button><br>
        </a>
    </div>
</div>
{% endblock content %}