<!-- Card information about services, the pet space and vaccination of pets-->

<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-6">

            <!-- start the Causa Animal box with info--> 
                <div class="col-lg-4 mb-5 mb-lg-0"> 
                    <h2 class="h4 fw-bolder"><b>Nossos Serviços</b></h2>
                    <p>
                        Nossos serviços de clínica vão desde de hemogramas, atendimento especializado com nosso melhores médicos veterinários,
                        atendimento psicológico, fisioterapia integrada, espaço pet para o seu bichinho quando estiver nas nossas dependências.
                    </p>                   
                        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" 
                        aria-expanded="false" aria-controls="collapseExample">
                            Saiba mais
                            <i class="bi bi-arrow-right"></i>
                        </button>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            Além dos nossos Planos de Saúde para o seu pet, temos também nossa rede conveniada para atendimento na sua região.
                            Caso seja necessário envio de ambulância ao local, temos nossos equipamentos a postos nas nossas unidades em Sâo Paulo. 
                            Também temos serviços de Atestado para Viagens, Microchipagem, Castração, Medicina Preventiva, Saúde Bucal, Vacinação, 
                            Farmácia Veterinária, Cirurgia Geral e mais. Confira nossos planos: <br><br> 
                            <a href="#planos_saude">
                                <b>
                                    Acessar planos de saúde
                                </b>
                            </a>
                        </div>
                    </div>
                </div> 

                <!-- end the first box with Nossos Serviços--> 

                <!-- start the Causa Animal box with info-->

                <div class="col-lg-4 mb-5 mb-lg-0">                    
                        <h2 class="h4 fw-bolder">
                            <b>
                                Apoiamos a causa Animal
                            </b>
                        </h2>
                        <p>
                            Somos totalmente engajados na causa animal, e apoiamos todos os movimentos relacionados à proteção de animais e também
                            para adoção e etc. A adoção é um dos pilares de atuação da nossa visão, missão e valores e, sem dúvida, uma atividade que 
                            requer esforço e amplo envolvimento do poder público com a sociedade civil. Isso porque o alojamento municipal não é um 
                            lar definitivo, ao contrário, a estadia deve ser de curta permanência. Esses animais precisam de amor, de companhia, de famílias 
                            amorosas e responsáveis.
                        </p>
                        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" 
                        aria-expanded="false" aria-controls="collapseExample">
                            Saiba mais  
                            <i class="bi bi-arrow-right"></i>
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Somos totalmente engajados na causa animal, e apoiamos todos os movimentos relacionados à proteção de animais e também
                                para adoção e etc. A adoção é um dos pilares de atuação da nossa visão, missão e valores e, sem dúvida, uma atividade que requer esforço e amplo 
                                envolvimento do poder público com a sociedade civil. Isso porque o alojamento municipal não é um lar definitivo, ao contrário, a estadia deve ser 
                                de curta permanência. Esses animais precisam de amor, de companhia, de famílias amorosas e responsáveis.<br><br>
                                
                                <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/saude/saude_e_protecao_ao_animal_domestico/index.php?p=272491"> 
                                    <b>Acessar portal de adoção da Prefeitura da Cidade de São Paulo</b>
                                </a>
                            </div>
                        </div>
                    </div>
                
                <!-- end the Causa Animal box with info-->

                <!-- start the Vacinação box with info-->

                <div class="col-lg-4 mb-5 mb-lg-0">                    
                        <h2 class="h4 fw-bolder">
                            <b>Campanhas de Vacinação</b>
                        </h2>
                        <p> 
                            Proteger o seu pet contra doenças infecciosas e principalmente a raiva que está dentre as que mais matam. 
                            Vaciná-lo irá permitir que ele permaneça saudável! Proteger as pessoas contra os agentes circulantes dessas 
                            doenças. A vacinação previne o contágio de um animal para o outro, ou mesmo para as pessoas. Saiba mais 
                            sobre a campanha de vacinação da Prefeitura de São Paulo.
                        </p>
                        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" 
                        aria-controls="collapseExample">
                            Saiba mais  <i class="bi bi-arrow-right"></i>
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Embora a raiva esteja controlada nessas espécies, isso não isenta a vacinação anual que, além de obrigatória 
                                por lei, é o fator de maior relevância para garantir a manutenção de controle da raiva nas populações de cães 
                                e gatos e por consequência para a população humana.<br><br>
                                <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/saude/vigilancia_em_saude/controle_de_zoonoses/raiva_animal/index.php?p=5435"> 
                                    <b>
                                        Prefeitura da Cidade de São Paulo
                                    </b>
                                </a>
                            </div>
                        </div>
                </div>
                <!-- end the Vacinação box with info-->
        </div>
    </div>   
</section>

  