<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- footer start-->
<footer class="page-footer bg-primary" style="padding-bottom: 0px; margin-bottom: 0px;">
    <div class="container">
        <div class="row ">
            <div class="col s12 m4 l2 text-center">
                <h5 class="white-text" style="font-weight: bold;">Redes</h5><br>
                    <ul>
                        <li style="margin: 20px;">
                            <i class="material-icons">facebook</i>                            
                        </li>                                            
                        <li style="margin: 20px;">
                            <i class="material-icons">whatsapp</i>                            
                        </li>
                        <li style="margin: 20px;">
                            <i class="material-icons">email</i>                            
                        </li>
                    </ul>
            </div>

            <div class="col l6 s12 text-center">
                <h5 class="white-text text-center"><b>Sobre Nós</b></h5><br>
                <p class="grey-text text-lighten-4">Visamos sempre o bem-estar do seu pet. 
                    Consulte os preços ou fale com um de nossos pet lovers. Nossos planos de saúde
                    são reconhecidos na comunidade veterinária.
                </p>
            </div>
                     
            <div class="col s12 m4 l2 text-center">
                <h5 class="white-text" style="font-weight: bold;">Unidades</h5><br>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Penha de França, ZL</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Itaquera, ZL</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Campo Belo, SP</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Guarulhos, SP</a></li>
                    </ul>
            </div>
            <div class="col s12 m4 l2 text-center">
                <h5 class="white-text" style="font-weight: bold;">Contatos</h5><br>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">T: +55 11 2458-1247</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">T: +55 11 2485-4477</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">F: +55 11 3462-0392</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">C: +55 11 97671-4578</a></li>
                </ul>
            </div>
            <div class="col s12 m4 l2 text-center">
                <h5 class="white-text" style="font-weight: bold;">Links</h5><br>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'login' %}">Login Sistema Pet</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'cadastrar_contatos' %}">Contato</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'sobre' %}">Sobre</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'servicos' %}">Serviços</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col s12 m4 l2 text-center">
                <h5 class="white-text" style="font-weight: bold;">Apoiamos</h5><br>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/eulutopelosanimais/">Eu Luto pelos Animais</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.suipa.org.br/">Suipa ONG</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.amparanimal.org.br/">Ampara Animal</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://ilm.org.br/">Instituto Luisa Mel</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container text-center">
            © 2014 Copyright | Powered by Django | Max Pet 2021         
        </div>
    </div>
</footer>
<!-- footer end -->