{% load static %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/myjs.js"></script>
</head>

<!-- Header-->
<header class="bg-primary py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="hide-on-med-and-down about-section col-lg-4">
                <td id="id-of-td">
                    <img id="id-of-image" style="width: 170%; position: absolute;right: 0; bottom: -66px; " src="{% static '/img/catsanddogs.png' %}"/>
                </td>                   
            </div>               
                       
            <div class="col-lg-8">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Bem vindo ao <br> <b>MAX CLÍNICA PET</b> !</h1>
                        <p class="lead text-white-50 mb-4" style="font-size: 18px;">Levantamos uma bandeira de atendimento de qualidade para os 
                        animais a preços acessíveis para os responsáveis. Consultas, cirurgias, exames laboratoriais, exames de 
                        imagem, especialidades, farmácia veterinária popular, centro de estética, internacao 24 horas, emergências 
                        24 horas, campanhas de castração, atendimento domiciliar e muito mais para o seu pet. Completo para o seu pet, 
                        acessível para você. MAX CLÍNICA PET, o melhor da medicina veterinária a preços populares!</p> 
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header-->