<!DOCTYPE html>
{% extends 'adminlte/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
            {% endblock title %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>

    </title>
</head>
<body>
<main class="container">
    {% block content %}

    {% endblock content %}

</main>

{% block javascript %}
{{block.super}}
{% endblock javascript %}

{% block scripts %}

{% endblock %}

</body>
</html>