{% load static %}
<!-- css links and routs-->
<link href="{% static 'css/login.css' %}" rel="stylesheet" />

<!-- css style-->
<style>  
body {  
  background:#007bff;  
}

#login-container {  
  border-image:linear-gradient(45deg,red,rgb(185, 8, 165),rgb(166, 209, 7), rgb(241, 88, 6)) 10;    
}
</style>

<!--Titulo da página-->
<title>Login</title>

<!--HTML Code-->
<div id="login-container"><br><br>
  <h1>LOGIN <br>
    <b>MAX CLÍNICA PET</b></h1><br>

  <!-- formulário de login -->
  <form action="{% url 'listar_pets' %}" method="POST">
    {% csrf_token %}
    <label for="username">E-MAIL</label><br>
      <input type="euserna" name="username" id="username" placeholder="Digite seu usuário" autocomplete="off">
    <label for="password">SENHA</label><br>
      <input type="password" name="password" id="password" placeholder="Digite sua senha">      
    <input type="submit" value="Acessar">
  </form>
  <!-- end formulário de login -->
    <div id="social-container">
      <p>Contate um de nossos operadores caso não consiga acessar</p>      
    </div>
    <div id="social-container">
        <a class="navbar-brand" aria-current="page" href="{% url 'home' %}">
          <b>Ir para o site</b>
        </a>
    </div>
</div>
<!--end HTML Code-->
