{% load static %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" />
<!--bootstrap and css links and routs-->

<!--Titulo da página-->
<title>Login</title>

<!--HTML Code-->
<div id="login-container"><br><br>
  <h1>LOGIN | <b>CLÍNICA PET</b></h1><br>
  <form action="{% url 'listar_pets' %}" method="POST">
    {% csrf_token %}
    <label for="username">E-mail</label><br>
      <input type="euserna" name="username" id="username" placeholder="Digite seu usuário" autocomplete="off">
    <label for="password">Senha</label><br>
      <input type="password" name="password" id="password" placeholder="Digite sua senha">      
    <input type="submit" value="Acessar">
  </form>
    <div id="social-container">
      <p>Contate um de nossos operadores caso não consiga acessar</p>      
    </div>
</div>
<!--end HTML Code-->
